html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: "Fontaine";
  src: url("./../../fontaine.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto !important;
}

.titulo {
  font-family: "Fontaine", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.1em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
}

.titulo h2 {
  grid-row: 1 / -1;
  margin-right: 1rem;
}

.det-verm {
  width: 100%;
  background-color: #ee283f;
  position: relative;
  height: 12px;
  top: 50%;
  transform: translateY(-100%);
}

.det-peb {
  background-color: #000;
  position: relative;
  height: 12px;
  width: 100%;
  grid-column: 2;
  top: 50%;
  transform: translateY(-50%);
}

.det-b {
  background-color: #fff;
  position: relative;
  height: 12px;
  width: 100%;
  grid-column: 2;
  top: 50%;
  transform: translateY(-50%);
}

.tit-time {
  font-family: "Fontaine", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.1em;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
}

.tit-time h3 {
  grid-column: 2;
  grid-row: 1 / -1;
  margin-left: 1rem;
}

.det-peb2 {
  background-color: #000;
  position: relative;
  height: 12px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  grid-column: 1;
}

.det-verm2 {
  width: 100%;
  background-color: #ee283f;
  position: relative;
  height: 12px;
  top: 50%;
  grid-column: 1;
}

/* Mobile */
@media screen and (max-width: 980px) {
  .titulo {
    font-size: 2rem;
    letter-spacing: 0.05rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .det-verm {
    height: 7px;
  }

  .det-peb {
    height: 7px;
  }

  .tit-time {
    font-size: 2rem;
    letter-spacing: 0.05em;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
  }

  .tit-time h3 {
    grid-column: 2;
    grid-row: 1 / -1;
    margin: 0.3rem 0.5rem 0px 0.5rem;
  }

  .det-b {
    height: 7px;
    width: 100%;
    grid-column: 2;
    top: 50%;
    transform: translateY(-50%);
  }
}
