.header {
  background-color: #fff;
  font-family: "Fontaine", sans-serif;
  padding: 0.5rem 70px;

  position: fixed;
  top: 0;
  z-index: 999;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  max-width: 1200px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.header__nav a {
  display: block;
  padding: 10px 16px;
  transition: 0.5s ease;
  font-size: 1.5rem;
  color: #555;
}

.header__nav a:hover {
  color: #000;
}

.header__logo img {
  width: 50px;
  height: 50px;
}

.header__hamb {
  width: 30px;
  height: 30px;

  background-color: transparent;
  border-radius: 5px;
  border: 0;

  position: relative;
  cursor: pointer;
  display: block;
}

.header__hamb:after {
  content: "";

  position: absolute;
  top: 35%;
  left: 15%;

  width: 70%;
  height: 5%;
  border-radius: 5px;
  background-color: #000;
}

.header__hamb:before {
  content: "";

  position: absolute;
  top: 55%;
  left: 15%;

  width: 70%;
  height: 5%;
  border-radius: 5px;
  background-color: #000;
}

@media screen and (max-width: 980px) {
  .header {
    display: none;
  }
}
